@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #1A202C; 
    color: #0e0000;
  }
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2D3748;
  color:#0e0000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.home-icon {
  font-size: 2rem;
  color: white;
  margin-top: 10px;
}

.navbar-text {
  font-size: 2rem;
  font-family: 'Arial Black', sans-serif;
  margin-right: auto;
  margin-left: 20px;
  color: #FFFFFF;
}


.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  /*height: 100vh; */
}

.input-wrapper {
  width: 500px;
  height: 2.5rem;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  background-color: white;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.15rem;
  width: 100%;
  margin-left: 10px;
}

input:focus {
  outline: none;
}

#search-icon {
  color: rgb(225, 220, 65);
}


.resultlist{
    width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;

    max-height: 300px;
    overflow-y: auto;
    position: absolute; 
    top: 60px;
    z-index: 1000;
  }

  .searchresult{
    padding: 10px 20px;
  }

  .searchresult:hover{
    background-color: #efefef;
    cursor: pointer;
  }

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: #FFD700; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  font-family: 'Arial Black', sans-serif;
}

.news-container {
  width: 80%;
  margin: 10px auto;
  padding: 0px 40px;
  background-color: #2D3748; 
  border-radius: 10px;
}

.news-article {
  background-color: #FFFFFF; 
  color: #1A202C; 
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.news-article img {
  border-radius: 10px;
  margin-bottom: 15px;
}

.news-article p {
  font-size: 1rem;
  line-height: 1.5;
}

.news-article .author {
  font-weight: bold;
  color: #4A5568; 
}

.read-more-button {
  background-color: #FFD700; 
  color: #1A202C; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-more-button:hover {
  background-color: #FFC107; 
}
