@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #1A202C; 
    color: #FFFFFF;
  }
}

.sbc {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
}

.searchbar {
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: #FFD700; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  font-family: 'Arial Black', sans-serif;
}

.news-container {
  width: 80%;
  margin: 10px auto;
  padding: 0px 40px;
  background-color: #2D3748; 
  border-radius: 10px;
}

.news-article {
  background-color: #FFFFFF; 
  color: #1A202C; 
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.news-article img {
  border-radius: 10px;
  margin-bottom: 15px;
}

.news-article p {
  font-size: 1rem;
  line-height: 1.5;
}

.news-article .author {
  font-weight: bold;
  color: #4A5568; 
}

.read-more-button {
  background-color: #FFD700; 
  color: #1A202C; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-more-button:hover {
  background-color: #FFC107; 
}
